<title>Settings</title>
<script src="jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="bootstrap-theme.min.css">
<script src="bootstrap.min.js"></script>

<style>
    * {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        font-family: "Segoe UI", sans-serif;
        background: #1A2933;
        color: #FFF;
    }

    h1 {
        margin: 0 0 10px 0;
        font-weight: 600;
        line-height: 1.2;
    }

    p {
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.4);
    }

    .container-fluid .row {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
</style>